### 박물관이 살아 있다 IV

In [2]:
import pandas as pd

museum = pd.read_csv('../data/museum_3.csv', dtype={'지역번호':str})
number = pd.read_csv('../data/region_number.csv', dtype={'지역번호':str})
museum.head()

           시설명  어른관람료      운영기관전화번호  분류 지역번호
0   필암서원 유물전시관    500  061-390-7224  일반  061
1      원주역사박물관      0  033-737-4371  일반  033
2      뮤지엄산미술관  15000  033-730-9000  일반  033
3    오랜미래신화미술관      0  033-746-5256  일반  033
4  연세대학교 원주박물관      0  033-760-2731  대학  033

In [5]:
number

    지역번호      지역명
0     02    서울특별시
1    031      경기도
2    032    인천광역시
3    033      강원도
4    041     충청남도
5    042    대전광역시
6    043     충청북도
7    044  세종특별자치시
8    051    부산광역시
9    052    울산광역시
10   053    대구광역시
11   054     경상북도
12   055     경상남도
13   061     전라남도
14   062    광주광역시
15   063     전라북도
16   064  제주특별자치도
17   070    인터넷전화
18  1577     기타번호

In [7]:
pd.merge(museum, number, on='지역번호', how='left').head(20)

            시설명  어른관람료      운영기관전화번호  분류 지역번호    지역명
0    필암서원 유물전시관    500  061-390-7224  일반  061   전라남도
1       원주역사박물관      0  033-737-4371  일반  033    강원도
2       뮤지엄산미술관  15000  033-730-9000  일반  033    강원도
3     오랜미래신화미술관      0  033-746-5256  일반  033    강원도
4   연세대학교 원주박물관      0  033-760-2731  대학  033    강원도
5       뮤지엄산박물관  15000  033-730-9000  일반  033    강원도
6   뮤지엄산(청조갤러리)  15000  033-730-9000  일반  033    강원도
7    치악산 고판화박물관   5000  033-761-7885  일반  033    강원도
8       남원향토박물관      0  063-620-5797  일반  063   전라북도
9         청도박물관      0  054-370-2282  일반  054   경상북도
10        합천박물관      0  055-930-4882  일반  055   경상남도
11     합천한의학박물관   2000  055-934-0601  일반  055   경상남도
12     해인사성보박물관   2000  055-934-3150  일반  055   경상남도
13        신풍미술관   2000  054-653-9329  일반  054   경상북도
14        예천박물관      0  054-650-8311  일반  054   경상북도
15        신풍미술관   2000  054-653-9329  일반  054   경상북도
16        예천박물관      0  054-650-8311  일반  054   경상북도
17      인천개항박물관    500  032-760-7508  일반  032  인천광역시
18       짜장면박물관    500  032-773-9812  일반  032  인천광역시
19        영종역사관   1000  032-760-6300  일반  032  인천광역시