___
#### 유일성
```python
1) row 중복
- df.index.value_counts()
    > 중복되는 인덱스 찾기
- df.drop_duplicate(inplace=True/False)
    > 중복되는 row 제거
    > 기본 설정: inplace = False

2) column 중복
- df.T
    > row와 column의 위치를 변경.
- df.T.drop_duplicate()
    > row와 column의 위치가 바뀐 상태에서 중복되는 row(원래 column)를 삭제.
    > inplace=True 쓸 수 없음.
- df.T.drop_duplicate().T
    > 중복 삭제 후 다시 원상태로 돌리기
    > 변경사항이 원본에 저장되지 않고, inplace 파라미터도 쓸 수 없으므로, 꼭 데이터프레임에 다시 저장해 줘야 함.
    > df = df.T.drop_duplicate().T
```
___

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/dust.csv', index_col=0)
df.head()

,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,세종,경북,경남,제주,강원.1
날짜,,,,,,,,,,,,,,,,,,
08월 11일,7,17,15,10,29,12,12,9,16,14,16,25,21,11,14,24,21,16
08월 10일,15,25,15,20,28,25,17,20,16,25,29,29,25,27,14,29,23,16
08월 09일,24,26,26,27,27,27,22,27,25,32,24,24,27,26,25,38,25,25
08월 08일,26,25,28,26,29,31,20,26,29,33,26,29,31,31,28,32,27,29
08월 07일,20,26,22,25,33,24,18,23,18,23,29,33,29,27,19,28,26,18

#### row 중복

In [4]:
df.index

Index(['08월 11일', '08월 10일', '08월 09일', '08월 08일', '08월 07일', '08월 06일',
       '08월 05일', '08월 04일', '08월 03일', '08월 02일', '08월 01일', '07월 31일',
       '07월 31일', '07월 30일', '07월 29일', '07월 28일', '07월 27일', '07월 26일',
       '07월 25일', '07월 24일', '07월 23일', '07월 22일', '07월 21일', '07월 20일',
       '07월 19일', '07월 18일', '07월 17일', '07월 16일', '07월 15일', '07월 14일',
       '07월 13일'],
      dtype='object', name='날짜')

In [5]:
df.index.value_counts()

날짜
07월 31일    2
08월 11일    1
07월 26일    1
07월 14일    1
07월 15일    1
07월 16일    1
07월 17일    1
07월 18일    1
07월 19일    1
07월 20일    1
07월 21일    1
07월 22일    1
07월 23일    1
07월 24일    1
07월 25일    1
07월 27일    1
08월 10일    1
07월 28일    1
07월 29일    1
07월 30일    1
08월 01일    1
08월 02일    1
08월 03일    1
08월 04일    1
08월 05일    1
08월 06일    1
08월 07일    1
08월 08일    1
08월 09일    1
07월 13일    1
Name: count, dtype: int64

In [6]:
df.loc['07월 31일']  # 중복된 row -> 삭제

,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,세종,경북,경남,제주,강원.1
날짜,,,,,,,,,,,,,,,,,,
07월 31일,18,26,17,23,23,17,23,21,19,20,21,21,22,19,22,25,28,19
07월 31일,18,26,17,23,23,17,23,21,19,20,21,21,22,19,22,25,28,19

In [ ]:
# 중복 row 삭제하기
df.drop_duplicates().head()

,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,세종,경북,경남,제주,강원.1
날짜,,,,,,,,,,,,,,,,,,
08월 11일,7,17,15,10,29,12,12,9,16,14,16,25,21,11,14,24,21,16
08월 10일,15,25,15,20,28,25,17,20,16,25,29,29,25,27,14,29,23,16
08월 09일,24,26,26,27,27,27,22,27,25,32,24,24,27,26,25,38,25,25
08월 08일,26,25,28,26,29,31,20,26,29,33,26,29,31,31,28,32,27,29
08월 07일,20,26,22,25,33,24,18,23,18,23,29,33,29,27,19,28,26,18

#### column 중복

In [ ]:
df.T  # row와 column이 뒤바뀜

In [10]:
df.T.drop_duplicates()  # row와 column이 바뀐 상태에서 중복되는 row(원래 column)을 삭제.

날짜,08월 11일,08월 10일,08월 09일,08월 08일,08월 07일,08월 06일,08월 05일,08월 04일,08월 03일,08월 02일,...,07월 22일,07월 21일,07월 20일,07월 19일,07월 18일,07월 17일,07월 16일,07월 15일,07월 14일,07월 13일
서울,7,15,24,26,20,31,27,27,44,40,...,30,37,36,30,35,30,26,22,20,21
부산,17,25,26,25,26,39,36,36,32,26,...,28,37,70,76,55,56,48,49,46,43
대구,15,15,26,28,22,29,25,26,23,20,...,20,41,56,54,42,49,42,21,26,29
인천,10,20,27,26,25,35,31,31,47,41,...,30,30,27,29,36,32,24,22,22,19
광주,29,28,27,29,33,27,27,27,29,26,...,21,48,46,36,39,38,37,23,24,23
대전,12,25,27,31,24,31,24,27,28,19,...,40,57,44,40,42,36,30,18,17,19
울산,12,17,22,20,18,31,30,32,29,20,...,26,42,77,81,66,65,59,55,54,47
경기,9,20,27,26,23,30,27,31,44,39,...,34,38,36,32,36,32,28,23,21,21
강원,16,16,25,29,18,22,25,39,33,25,...,44,51,44,40,39,44,36,25,26,24
충북,14,25,32,33,23,33,31,36,31,24,...,48,59,51,47,47,43,38,24,23,24
충남,16,29,24,26,29,28,25,30,34,33,...,39,40,33,28,32,30,23,17,16,15
전북,25,29,24,29,33,27,26,27,27,29,...,36,59,44,35,35,32,25,19,19,21
전남,21,25,27,31,29,30,25,27,28,22,...,22,43,54,39,35,43,34,22,20,21
세종,11,27,26,31,27,34,25,29,32,24,...,46,56,44,35,42,38,32,20,18,19
경북,14,14,25,28,19,29,28,29,28,22,...,26,49,61,55,47,49,36,25,26,26
경남,24,29,38,32,28,37,31,36,31,27,...,29,43,68,66,53,55,47,41,39,38
제주,21,23,25,27,26,24,22,27,26,32,...,30,39,46,26,28,37,36,27,21,23

In [12]:
df = df.T.drop_duplicates().T  # 다시 원본처럼 row와 column의 위치가 바뀜.